<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>


	<!-- uncomment and set to DEBUG to log all failing HTTP requests -->
	<!-- uncomment and set to TRACE to log all HTTP requests -->
	<!--<logger name="io.gatling.http.engine.response" level="TRACE" />-->
	<!-- Основной логгер для стандартного логирования (INFO) -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>


	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss.SSS"/>
	<!-- Логирование неуспешных операций в отдельный файл -->
	<appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/gatling-errors-${bySecond}.log</file> <!-- Файл для логирования ошибок -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1GB</maxFileSize> <!-- Максимальный размер файла лога -->
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Логгер для Gatling, который записывает запрос/ответ -->
	<!-- Trace - all | DEBUG - не усепшные -->
	<logger name="io.gatling.http.engine.response" level="DEBUG" additivity="false" >
		<appender-ref ref="ERROR_FILE" />
	</logger>


</configuration>
